{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_trigger/trigger_fields

    Displays form element containg all available fields.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}
<div class="form-group row">
    <div class="col-md-3">
        <p>{{# str }} availablefields, tool_trigger {{/ str }}</p>
    </div>
    <div class="fieldcontainer col-md-9 form-inline felement">
        {{#nofields}}
            <p>{{# str }} noavailablefields, tool_trigger {{/ str }}</p>
        {{/nofields}}
        {{^nofields}}
            <div class="fieldtitle">{{# str }} eventfields, tool_trigger {{/ str }}:</div>
        {{/nofields}}
        <div class="fieldgroup">
            {{#fields}}
                <span class="tag tag-info mb-1 mr-1">{{ field }}</span>
            {{/fields}}
        </div>
        {{#steps}}
            <div class="fieldtitle">{{ stepname }}:</div>
            <div class="fieldgroup">
                {{#fields}}
                    <span class="tag tag-info mb-1 mr-1">{{ field }}</span>
                {{/fields}}
            </div>
        {{/steps}}
    </div>
</div>
